---
title: RubyConf Colombia 2017
---

.row
  .column.left-column
    .content
      .column-content
        .title
          %p RubyConf Colombia
          %p
            %strong 2017
      .bigLogo
        %svg{:id => "logo", :viewbox => "-10 -10 413 331", :width => "100%"}
          %defs
            %path#path-1{:d => "M300.940375,79.0849371 L325.948106,20.3652965 L371.896015,79.0849371 L300.940375,79.0849371 Z M218.403986,267.566592 L295.310754,92.3490801 L371.431616,92.3490801 L218.403986,267.566592 Z M195.193772,287.931888 L112.756432,92.3490801 L278.673574,92.3490801 L195.193772,287.931888 Z M21.7959072,92.3490801 L98.0726515,92.3490801 L171.972192,267.092641 L21.7959072,92.3490801 Z M65.8521206,19.4141477 L90.9653964,78.1370345 L19.8944688,78.1370345 L65.8521206,19.4141477 Z M182.870957,12.7853224 L104.228376,74.3502937 L78.1716876,12.7853224 L182.870957,12.7853224 Z M271.468893,78.1370345 L120.808723,78.1370345 L201.823638,15.1550788 L271.468893,78.1370345 Z M312.685127,12.7853224 L286.63331,73.4007681 L219.828035,12.7853224 L312.685127,12.7853224 Z M328.313943,1.89418195 C328.313943,1.89418195 327.895686,0.925749201 327,0.5 C325.948106,0 323.998199,0 323.998199,0 L67.7486877,0 C67.7486877,0 65.8521206,0 64.5,0.5 C63.1478794,1 62.5363758,1.89418195 62.5363758,1.89418195 L0.946306796,80.7127594 C0.946306796,80.7127594 0,82.5 0,84.5 C1.54334027e-16,86.5 0.473776628,87.7118523 1.36141335,88.7593268 C14.511356,104.277196 118.491599,225.894589 118.491599,225.894589 L189.978213,309.241841 C189.978213,309.241841 192.355012,310.658826 194.71963,310.658826 C197.084248,310.658826 199.448058,309.241841 199.448058,309.241841 C199.448058,309.241841 367.981734,116.098481 390.317974,89.2165768 C391.887563,87.3275597 391.890502,84.2604921 390.36713,82.0237112 C378.713691,64.912865 328.313943,1.89418195 328.313943,1.89418195 Z"}
            %filter#filter-2{:filterunits => "objectBoundingBox", :height => "200%", :width => "200%", :x => "-50%", :y => "-50%"}
              %feoffset{:dx => "0", :dy => "0", :in => "SourceAlpha", :result => "shadowOffsetOuter1"}
              %fegaussianblur{:in => "shadowOffsetOuter1", :result => "shadowBlurOuter1", :stddeviation => "5"}
              %fecolormatrix{:in => "shadowBlurOuter1", :type => "matrix", :values => "0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0"}
          %clippath#PP1
            %polygon#p1{:fill => "#F6A623", "fill-rule" => "evenodd", :points => "19 78.8635944 65.89807 19 91.9787877 78.8635944", :stroke => "none"}
          %clippath#PP2
            %polygon#p2{:fill => "#F6A623", "fill-rule" => "evenodd", :points => "77 12 184.565154 12 104.024529 74.7124889", :stroke => "none"}
          %clippath#PP3
            %polygon#p3{:fill => "#F6A623", "fill-rule" => "evenodd", :points => "272.464846 79.1328686 119 79.1328686 201.909883 14", :stroke => "none"}
          %clippath#PP4
            %polygon#p4{:fill => "#F6A623", "fill-rule" => "evenodd", :points => "218 12 313.736707 12 302.507226 36.8861337 286.718666 74.7606881", :stroke => "none"}
          %clippath#PP5
            %polygon#p5{:fill => "#F6A623", "fill-rule" => "evenodd", :points => "325.975309 19 372.863649 79.8619674 300 79.8619674", :stroke => "none"}
          %clippath#PP6
            %polygon#p6{:fill => "#F6A623", "fill-rule" => "evenodd", :points => "172.983211 269.162268 21 92 98.1778553 92", :stroke => "none"}
          %clippath#PP7
            %polygon#p7{:fill => "#F6A623", "fill-rule" => "evenodd", :points => "112 92 279.70366 92 221.822033 226.865501 195.330464 290.05145 180.088406 253.006671", :stroke => "none"}
          %clippath#PP8
            %polygon#p8{:fill => "#F6A623", "fill-rule" => "evenodd", :points => "371.829237 92 217 269.637356 235.981055 225.865501 289.789621 103.864157 294.808684 92", :stroke => "none"}
          %g#mask{:fill => "none", :stroke => "none"}
            %use{:fill => "black", "fill-opacity" => "1", :filter => "url(#filter-2)", "xlink:href" => "#path-1"}
            %use{:fill => "#FFFFFF", "fill-rule" => "evenodd", "xlink:href" => "#path-1"}
          %g{"clip-path" => "url(#PP1)"}
            %image#PhotoPP1{:height => "332", :width => "1656", "xlink:href" => "./assets/images/imagenB-min.jpg"}
          %g{"clip-path" => "url(#PP2)"}
            %image#PhotoPP2{:height => "332", :width => "1656", "xlink:href" => "./assets/images/imagenB-min.jpg"}
          %g{"clip-path" => "url(#PP3)"}
            %image#PhotoPP3{:height => "1328", :width => "414", "xlink:href" => "./assets/images/imagenA-min.jpg"}
          %g{"clip-path" => "url(#PP4)"}
            %image#PhotoPP4{:height => "332", :width => "1656", "xlink:href" => "./assets/images/imagenC-min.jpg"}
          %g{"clip-path" => "url(#PP5)"}
            %image#PhotoPP5{:height => "332", :width => "1656", "xlink:href" => "./assets/images/imagenC-min.jpg"}
          %g{"clip-path" => "url(#PP6)"}
            %image#PhotoPP6{:height => "332", :width => "1656", "xlink:href" => "./assets/images/imagenB-min.jpg"}
          %g{"clip-path" => "url(#PP7)"}
            %image#PhotoPP7{:height => "1328", :width => "414", "xlink:href" => "./assets/images/imagenA-min.jpg"}
          %g{"clip-path" => "url(#PP8)"}
            %image#PhotoPP8{:height => "332", :width => "1656", "xlink:href" => "./assets/images/imagenC-min.jpg"}
      .column-content
        %pre.ready
          :preserve
            % ruby
            puts "Hey, are you ready?"
  .column.right-column
    .top
      .topHead
        .topLogo
          %h1.logo
        .social
          %a.social__link{:href => "http://facebook.com/RubyConfCo"} Facebook
          %a.social__link{:href => "http://twitter.com/RubyConfCo"} Twitter
      .intro
        %h2.intro__title &gt;&gt; Hey, are you ready?
        %p.intro__description
          Be part of <strong>RubyConf Colombia 2017</strong>. The organizing team is hard at work to make this one of the best Ruby conferences ever.
          %span.intro__description__date
            September
            %strong 8
            and
            %strong 9
            \/ 2017
      .newsletter
        .newsletter__description
          If you want to receive info about the conference, join our mailing list.
          %br
          No spam, we promise.
        %form.form.row.newsletter__form.mailchimp-form{:action => "//rubyconf.us11.list-manage.com/subscribe/post?u=7b7c2e5ead7427750ced71f09&id=22ba1d80e6", :enctype => "multipart/form-data", :method => "post", :name => "mc-embedded-subscribe-form", :target => "_blank"}
          .newsletter__field
            %input#EMAIL.newsletter__field_input{:name => "EMAIL", :placeholder => "your@email.com", :type => "email"}/
            %button.newsletter__field_button Subscribe
      .pastEvents
        %p Previous events
        %a{:href => "http://2016.rubyconf.co", :target => "_blank"} 2016
        %a{:href => "http://2015.rubyconf.co", :target => "_blank"} 2015
    .bottom
      .sponsors
        %h4.sponsors__title Sponsors:
        %ul.sponsors__list
          %li.sponsors__list_item
            %a.monoku{:href => "http://monoku.com/", :target => '_blank'} Monoku
