---
title: RubyConf Colombia 2017
---

.row
  .column.left-column
    .content
      .column-content
        %h1.logo
          RubyConf. Colombia.
      .bigLogo
        %svg{:id => "logo", :viewbox => "0 0 307 288", :width => "100%"}
          %defs
            %clippath#PP1
              %polygon#PP1Polygon{:fill => "#000000", "fill-rule" => "evenodd", :points => "46.5272727 4.8 0 73.8 134.509091 184.527273", :stroke => "none"}
            %clippath#PP2
              %polygon#PP2Polygon{:fill => "#000000", "fill-rule" => "evenodd", :points => "149.345455 191.945455 243 0.381818182 55.3090909 0", :stroke => "none"}
            %clippath#PP3
              %polygon#PP3Polygon{:fill => "#000000", "fill-rule" => "evenodd", :points => "297.818182 74.5090909 251.781818 5.29090909 164.127273 184.581818", :stroke => "none"}
          %g{"clip-path" => "url(#PP1)"}
            %image#PhotoPP1{:height => "835", :width => "750", "xlink:href" => "./assets/images/imagen1.jpg"}
          %g{"clip-path" => "url(#PP2)"}
            %image#PhotoPP2{:height => "1000", :width => "375", "xlink:href" => "./assets/images/imagen2.jpg"}
          %g{"clip-path" => "url(#PP3)"}
            %image#PhotoPP3{:height => "835", :width => "750", "xlink:href" => "./assets/images/imagen3.jpg"}
          %path#RLetter{:d => "M219.635749,186.145686 L199.492515,186.145686 L199.492515,247.412963 L161.002606,247.412963 L161.002606,82.6345124 L221.432308,82.6345124 C229.988386,82.5965413 238.525821,83.4367249 246.910777,85.1418921 C254.333897,86.6051621 261.421991,89.4328046 267.816187,93.4816549 C273.819188,97.3536329 278.730143,102.702285 282.079774,109.016507 C285.874665,116.466481 287.746272,124.749177 287.523892,133.109155 C287.924328,143.546372 284.98716,153.839128 279.139951,162.489104 C273.614621,170.139247 266.075583,176.102426 257.363482,179.713712 L295.79895,247.467471 L252.6271,247.467471 L219.635749,186.145686 Z M199.492515,157.092787 L218.329161,157.092787 C239.089395,157.092787 249.469512,149.061904 249.469512,133.000139 C250.040922,126.52384 247.034204,120.252125 241.629983,116.647663 C234.411475,113.052234 226.376781,111.417001 218.329161,111.905445 L199.492515,111.905445 L199.492515,157.31082 L199.492515,157.092787 Z", :fill => "#FFFFFF", "fill-rule" => "evenodd", :stroke => "none"}
          %rect#RLine{:fill => "#FFFFFF", "fill-rule" => "evenodd", :height => "14.7889114", :stroke => "none", :width => "157.988304", :x => "148.34557", :y => "272.917712"}
      .column-content
        %pre.ready
          :preserve
            % ruby
            puts "Hey, are you ready?"
  .column.right-column
    .top
      .social
        %a.social__link{:href => "http://twitter.com/RubyConfCo", :target => '_blank'} Twitter
        %a.social__link{:href => "http://facebook.com/RubyConfCo", :target => '_blank'} Facebook
      .intro
        %h2.intro__title &gt;&gt; Hey, are you ready?
        %p.intro__description
          Be part of <strong>RubyConf Colombia 2017</strong>. The organizing team is hard at work to make this one of the best Ruby conferences ever.
          %span.intro__description__date
            September
            %strong 8
            and
            %strong 9
            \/ 2017
      .newsletter
        .newsletter__description
          If you want to receive info about the conference, join our mailing list.
          %br
          No spam, we promise.
        %form.form.row.newsletter__form.mailchimp-form{:action => "//rubyconf.us11.list-manage.com/subscribe/post?u=7b7c2e5ead7427750ced71f09&id=22ba1d80e6", :enctype => "multipart/form-data", :method => "post", :name => "mc-embedded-subscribe-form", :target => "_blank"}
          .newsletter__field
            %input#EMAIL.newsletter__field_input{:name => "EMAIL", :placeholder => "your@email.com", :type => "email"}/
            %button.newsletter__field_button Subscribe
    .bottom
      .sponsors
        %h4.sponsors__title Sponsors:
        %ul.sponsors__list
          %li.sponsors__list_item
            %a.monoku{:href => "http://monoku.com/", :target => '_blank'} Monoku
